@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400&display=swap');

body {
    font-size: 18px;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 400;
    color: #0f141e;
    background-color: #f1f1f1;
}

a {
    color: #111;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a:active {
    color: blue;
}

a:visited {
    color: grey;
}

.container {
    max-width: 750px;
    margin: auto;
    padding-top: 30px;
}

.avatar {
    width: 250px;
    border-radius: 25px;
    box-shadow: 4px 4px 14px rgba(0, 0, 0, .25);
}

.info {
    margin-bottom: 20px;
}

.info p {
    margin: 0;
}

.info h4 {
    margin-bottom: 10px;
}

.card {
    border-radius: 20px;
    padding: 15px 20px;
    margin-bottom: 20px;
}

.card h2 {
    margin-bottom: 10px;
}

.btn {
    background: #111;
    border: none;
    padding: 15px 20px;
    color: #eee;
    font-family: inherit;
}

.btn:hover {
    opacity: 0.9;
    cursor: pointer;
    color: cadetblue;
}